chardet
gensim
ipykernel
ipython
ipywidgets
matplotlib
munkres
networkx
networkx_temporal
numpy
plotly
#pubmed_id
#pubmed_temporal
#pyg-lib
scikit-learn
scipy
#stellargraph
tensorflow
torch
#torch-cluster
#torch-geometric-temporal
#torch-lightning
#torch-scatter
#torch-sparse
#torch-spline-conv
torch_geometric
torch_kmeans
torchaudio
torchvision
